
.fuel-container {
    position: absolute;
    bottom: 4.5%;
    right: 45.4%;
    width: 9vw;
    height: .5vw;
    margin: auto;
    overflow: hidden;
    border-radius: 2vw;
    border: 0.5px rgb(255, 255, 255) solid;
}

.fuel-progress {
    background-color: #ffffffee;
    width: 50%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
}